#map_canvas {
	height: 500px;
}
body {
	background-color: Wheat;
}
.footer {
	background-color: ForestGreen;
	margin-top: 20px;
}
.distanceLabel {
	font-size: 90%;
	padding: 0.35em 0.6em;
	vertical-align: middle;
}
.top-buffer {
	margin-top:10px;
}
.no-margin {
	margin: 0;
}
div.divider {
	border: 1px solid #aaa;
	margin: 30px auto;
}
.inline {
	display: inline;
}
.vertical-margin-30 {
	margin: 15px 0;
}
@media (max-width: 767px) {
	.center-content-xs {
		text-align: center;
	}
}